:root{
  --hash-color: white;
}

.hash{
  display: grid;
  height: 450px;
  width: 300px;
  margin-top: 50px;
  background-color: var(--hash-color);
  grid-gap: 1%;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.header, button{
  grid-column-start: 1;
  grid-column-end: 4;
}